

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
@Html.ActionLink("Add  a new user", "Create", "User")
<table>
    <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Age</th>
        <th></th>
    </tr>
    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @*@if (Model.Image == null)
                {*@
                    @*<p> <img width="100" height="100" src="~/Images/undefined.png" /></p>
                        }
                        else
                        {*@
                    <p> <img class="img-thumbnail"  width="100" height="100" src="@Url.Action("GetImage", "User", new { item.Id })" /></p>

                    <p>@item.Id</p>
                </td>
                <td>
                    <p>@item.Name</p>
                </td>
                <td>
                    <p>@item.Birthdate.ToShortDateString()</p>
                </td>
                <td>
                    <p>@item.Age</p>
                </td>
                <td>
                    <p> @Html.ActionLink("Delete", "Delete", "User", new { id = item.Id }, null)</p>
                </td>
                <td>
                    <p> @Html.ActionLink("Edit", "Edit", "User", new { id = item.Id }, null)</p>
                </td>
            </tr>

                }            





               


            </table>
